{% extends layouts %}
{% from ajax import send_ajax_request, get_ajax_request, send_ajax_stream_request %}
{% from forms import textarea_field, submit %}
{% from breadcrumb import breadcrumb_field %} 
{% from tools import recognition, ollamaChatBot %} 
{% block content %}
{{ breadcrumb_field('EPAPHRODITES OLLAMA CHATBOT' )}}

  <div class="container">
    <div class="chat-bot-content">
      <div class="conversation" id="conversation"></div>
        <div class="input-group">
          <div id="input-container">
            {{ submit(
              {
                icon : 'bi bi-mic',
                color : 'transparent',
                id : 'startButtonVoice',
                mainClass : 'input-group-prepend'
              }
            )}}

            {{ textarea_field(
              {
              require : true ,
              name : '__send__' ,
              id : '__send__' ,
              rows : 2,
              placeholder : 'Message to Epaphrodites Bot...'
              }
            )}}

            {{ submit(
              {
                icon : 'bi bi-arrow-up-circle-fill',
                color : 'transparent',
                id : 'sendMessages',
                iconId: 'statusIcon',
                mainClass : 'input-group-prepend'
              }
            )}}
        </div>
        </div>
      </div>
  </div>

  {{ ollamaChatBot(
    {
      conversationId: 'conversation',
      textareaId: '__send__',
      buttonId: 'sendMessages'   ,
      model: 'llama3:8b',
      max_tokens: 2000,
      temperature: 0.7,
      statusIcon: 'statusIcon',
      botName: 'Ollama',
      usersName: 'You'
    }
  ) }}

  {{
    recognition({
      button : "startButtonVoice",
      field : "__send__"
    })
  }}

{% endblock %}