{% extends layouts %}
{% from breadcrumb import breadcrumb_field %}
{% from forms import input_field, submit %} 
{% from message import alert_msg %}
{% block content %} 
{{ alert_msg( reponse , alert ) }} 
{{ breadcrumb_field( 'CHANGE MY PASSWORD' )}}

  <div class="container">
        <form class="laodForm" method="POST" novalidate>
            <div class="row g-3">
                
                {{ __csrf() }} 

                {{ input_field(
                    {
                        require : true , 
                        type : 'password' , 
                        label : 'Old password' , 
                        name : '__oldpassword__' , 
                        feedback : 'Please enter your old password and continue!!!'
                    }) 
                }} 

                {{ input_field(
                    {
                        require : true , 
                        type : 'password' , 
                        name : '__newpassword__' , 
                        label : 'Your new password' , 
                        feedback : 'Please enter your new password and continue!!!' 
                    }) 
                }} 

                {{ input_field(
                    {
                        require : true , 
                        type : 'password' , 
                        name : '__confirm__' , 
                        label : 'Confirm your password' , 
                        feedback : 'Confirm your password and continue!!!' 
                    }) 
                }} 

                {{ submit({
                    label : 'Change your password',
                    icon : 'bi bi-save'
                }) }}   

            </div>
        </form>
  </div>

{% endblock %}