{% extends layouts %}
{% from breadcrumb import breadcrumb_field %} 
{% from forms import input_field, radio_field, submit %} 
{% from message import alert_msg %}
{% block content %}
{{ alert_msg( reponse, alert ) }}
{{ breadcrumb_field( 'MY PERSONAL INFORMATION' )}}

   <div class="container">
        <form id="signatureForm" class="laodForm" method="POST" novalidate>
            <div class="row g-3">

                {{ __csrf() }} 

                {% for select in select %} 
                    <div class="col-md-12">
                        {{ input_field(
                            {
                                upper : true,
                                maxlength : 70 , 
                                require : true , 
                                character : "string" ,
                                name : '__username__' , 
                                label : 'Name and surname' , 
                                value : select.namesurname|toiso , 
                                feedback : 'Please enter your name and surname and continue.' ,
                            })
                        }} 
                    </div>
                    
                    <div class="col-md-12">
                        {{ input_field(
                            {
                                maxlength: 100 , 
                                require : true , 
                                type : 'email' , 
                                name : '__email__' ,       
                                label : 'Your Email' , 
                                value : select.email|e ,
                                feedback : 'Please enter your Email and continue.' ,
                            }) 
                        }}     
                    </div>
                    
                    <div class="col-md-10">
                        {{ input_field(
                            { 
                                maxlength : 10 , 
                                require : true , 
                                name : '__contact__' , 
                                character : "numeric" ,
                                label : 'Phone number' , 
                                value : select.contact|e ,
                                feedback : 'Please enter your phone number and continue' , 
                            })  
                        }}
                    </div> 

                    <div class="col-md-2">
                        {{ radio_field({
                            mainLabel : 'OTP Method',
                            name: '__otpStatus__',
                            label: ['Active', 'Disabled'],
                            values: [ 1, 0],
                            checked: select.otp|e
                        }) }}
                    </div>   

                    <div class="col-md-12">
                        {{ submit({
                            label : 'Save your informations',
                            icon : 'bi bi-pen'
                        }) }}
                    </div>
                {% endfor %}
            </div>
        </form>
   </div>
{% endblock %}